<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.classless.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css">
    <title>World Treats API</title>
</head>

<body>
    <div class="container">
        {{{body}}}
    </div>
</body>
<script src="https://widget.cloudinary.com/v2.0/global/all.js" type="text/javascript"></script>
<script src="/javascript/app.js"></script>

</html>